#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT
#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;     // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                  // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;     // 500
            delay-ms = <0>;                   // 10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&gresc      &kp N1     &kp N2        &kp N3        &kp N4            &kp N5         &kp UP     &kp N6         &kp N7     &kp N8                  &kp N9              &kp N0               &kp MINUS
&kp TAB     &kp Q      &kp W         &kp E         &kp R             &kp T          &kp DOWN   &kp Y          &kp U      &kp I                   &kp O               &kp P                &kp EQUAL
&mo 1       &kp A      &kp S         &kp D         &kp F             &kp G          &kp LEFT   &kp H          &kp J      &kp K                   &kp L               &kp SEMI             &kp APOS
&kp LSHFT   &kp Z      &kp X         &kp C         &kp V             &kp B          &kp RIGHT  &kp N          &kp M      &kp COMMA               &kp DOT             &kp FSLH             &kp RSHIFT
&kp C_MUTE  &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &lt 2 SPACE    &mkp RCLK  &kp BACKSPACE  &kp ENTER  &lt 1 NON_US_BACKSLASH  &lt 2 LEFT_BRACKET  &lt 3 RIGHT_BRACKET
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "base layer";
        };

        layer1 {
            bindings = <
&kp GRAVE  &kp F1      &kp F2      &kp F3        &kp F4         &kp F5           &mmv MOVE_UP     &kp F6         &kp F7         &kp F8            &kp F9             &kp F10  &kp F11
&trans     &kp LCTRL   &kp UP      &kp END       &kp LG(LS(R))  &kp LA(LS(T))    &mmv MOVE_DOWN   &kp PG_UP      &kp PAGE_UP    &kp INSERT        &kp PAGE_DOWN      &trans   &kp F12
&trans     &kp LEFT    &kp DOWN    &kp RIGHT     &kp LA(LS(E))  &kp HOME         &mmv MOVE_LEFT   &kp LEFT       &kp DOWN       &kp UP            &kp RIGHT          &trans   &kp ENTER
&trans     &kp LSHIFT  &kp K_MENU  &kp CAPSLOCK  &kp LC(LA(V))  &trans           &mmv MOVE_RIGHT  &kp BACKSLASH  &kp LS(LA(M))  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans   &trans
&to 0      &trans      &trans      &trans        &trans         &kp LC(SPACE)    &mkp LCLK        &kp DELETE     &trans         &trans            &trans             &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "shortcut layer 1";
        };

        layer2 {
            bindings = <
&trans  &trans        &trans        &trans    &trans    &trans        &trans  &kp F6     &kp F7    &kp F8     &kp F9        &kp F10       &kp F11
&trans  &kp N1        &kp N2        &kp N3    &kp N4    &kp N5        &trans  &kp N6     &kp N7    &kp N8     &kp N9        &kp N0        &kp F12
&trans  &kp LS(LPAR)  &kp LS(RPAR)  &kp FSLH  &kp STAR  &kp DELETE    &trans  &kp BSPC   &kp PLUS  &kp MINUS  &kp LS(LBKT)  &kp LS(RBKT)  &trans
&trans  &trans        &trans        &trans    &trans    &kp MINUS     &trans  &kp EQUAL  &trans    &trans     &trans        &trans        &trans
&to 0   &to 3         &trans        &trans    &trans    &trans        &trans  &trans     &trans    &trans     &trans        &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "shortcut layer 2";
        };

        layer3 {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none        &none            &none            &none            &none            &rgb_ug RGB_TOG
&none  &bt BT_CLR    &bt BT_CLR_ALL  &out OUT_BLE  &out OUT_USB  &none           &none  &none        &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &rgb_ug RGB_EFR
&none  &none         &none           &none         &none         &none           &none  &none        &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_EFF
&none  &none         &none           &soft_off     &sys_reset    &bootloader     &none  &bootloader  &sys_reset       &soft_off        &none            &none            &none
&to 0  &none         &none           &none         &none         &none           &none  &none        &none            &none            &none            &none
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "keyboard function layer";
        };
    };
};
